@import "./color.scss";

.app_sidebar {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: lighten($gray, 42%);
  border-right: 1px solid $border;

  .app_logo {
    width: 100%;
    padding: 30px;

    img {
      float: left;
    }
  }

  .app_lists{
    width: 100%;
    padding: 30px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;

      li {
        a {
          float: left;
          padding: 8px 0px;
          text-decoration: none;
          @include font(14px, 400);

          & > svg {
            float: left;
            width: 18px;
            height: 18px;
            margin-right: 10px;
          }
        }
      }
    }
  }
}